<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Super Awesome</title>

<style>

body {
  margin: 0;
}

main {
  padding-top: 50px;
  max-width: 900px;
  margin: 0 auto;
}

.navbar.navbar-default {
  position: fixed;
  height: 50px;
  background: gray;
}

</style>