<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
<% include ../partials/head %>
</head>
<body>


<main>

<div class="article">

<h1>What's up with Angular Universal?</h1>

<div style="float: right">
<img src="https://res.cloudinary.com/dzz8ugomg/image/upload/v1494772401/angular_universal_mswmek.svg"
     height="130px"
     style="margin: 20px; border: 0"
     alt="Angular Universal Logo">
</div>

<p>I was excited when I heard Angular2 would support Server-Side rendering with since SEO was a huge
PITA (pain in the ass) with Angular1. It was said this would be done with Angular Universal.
</p>

<p>
Yet, this Angular Universal thing, what's up with that? Seems to have a really small team on that
and not too much documentation. Well at least there's a getting started repo, so I thought.
However, this repo
(<a href="https://github.com/robwormald/ng-universal-demo">https://github.com/robwormald/ng-universal-demo</a>)
doesn't even have a readme!
</p>

<p>
Also, when you check out some of those files, they don't seem very professional. For example:
<a href="https://github.com/robwormald/ng-universal-demo/blob/master/src/express-engine.ts">https://github.com/robwormald/ng-universal-demo/blob/master/src/express-engine.ts</a>
</p>

<p>
First line of code: //hacky express wrapper thingy.
</p>

<img src="https://res.cloudinary.com/dzz8ugomg/image/upload/c_scale,w_500/v1494771762/Screen_Shot_2017-05-11_at_13.55.38_cksweo.png"
     srcset="https://res.cloudinary.com/dzz8ugomg/image/upload/c_scale,w_500/v1494771762/Screen_Shot_2017-05-11_at_13.55.38_cksweo.png 1x, https://res.cloudinary.com/dzz8ugomg/image/upload/c_scale,w_900/v1494771762/Screen_Shot_2017-05-11_at_13.55.38_cksweo.png 2x"
     alt="Screenshot of 'Hacky Express Wrapper Thingy'">

<p>
Seriously?
</p>

<p>
Then of course, there's also some confusion as to where to go and look for resources. You'll find quite a few.
</p>

<p>


When you just google "Angular Universal" (as of May 2017) you'll get to <a href="https://universal.angular.io/">https://universal.angular.io/</a>.

However, this page is a bit out of date.

</p>

<p>
Just have a look at the date:

<br>

<img src="https://res.cloudinary.com/dzz8ugomg/image/upload/c_scale,w_257/v1494771665/powered_xyqfjr.png"
     srcset="https://res.cloudinary.com/dzz8ugomg/image/upload/c_scale,w_257/v1494771665/powered_xyqfjr.png 1x, https://res.cloudinary.com/dzz8ugomg/image/upload/c_scale,w_500/v1494771665/powered_xyqfjr.png 2x"
     alt="Out of date">

<br>

</p>

<p>

Or the actual site:

<br>

<img src="https://res.cloudinary.com/dzz8ugomg/image/upload/c_scale,w_500/v1494771665/angular2_xzvzog.png"
     srcset="https://res.cloudinary.com/dzz8ugomg/image/upload/c_scale,w_500/v1494771665/angular2_xzvzog.png 1x, https://res.cloudinary.com/dzz8ugomg/image/upload/c_scale,w_900/v1494771665/angular2_xzvzog.png 2x"
     alt="Still Angular 2">

<br>

Angular 2 is now Angular 4 and --ambient is also not a thing anymore. So the only purpose of universal.angular.io is
to confuse people with outdated material and to link to github (<a href="https://github.com/angular/universal">https://github.com/angular/universal</a>).

</p>

<p>

Github, even though being the best resource on Angular Universal, isn't terribly well documented either. Meh.
</p>


<p>
Well, I guess switching to React isn't such a bad idea after all?
</p>

<div style="text-align: center">

<img src="https://cdn.worldvectorlogo.com/logos/react.svg"
     height="100"
     style="border: 0"
     alt="React Logo">

</div>

</div>

</main>

<div style="height: 40px"></div>

<footer>
<% include ../partials/footer %>
</footer>

</body>
</html>